---
format:
  html:
    embed-resources: true
echo: true
code-fold: true
title: Pandas Lab
author: Matthew Spink 
---

Setup

In [6]:
import pandas as pd
import numpy as np 

# in windows need to change to back slash, becasue in windows \t means tab 
# customers = pd.read_csv("C:/Users/spink/OneDrive/Desktop/Machine Learning/navstuff/customers.csv")
customers = pd.read_csv("customers.csv")
orders =  pd.read_csv("orders.csv")
products = pd.read_csv("products.csv")
traffic = pd.read_csv("traffic.csv")
competitor_prices = pd.read_html("competitor_prices.html")

Reading and loading diffrent files 

* CSV: pd.read_csv("<file_name>")
* Excel: pd.read_excel("<file_name>")
* JSON: pd.read_json("<file_name>")
* HTML_Tables: pd.read_html("<file_name>")

<anyone> is the file type
    Exampe: pd_read<html>('url')
* URL: pd.read_<anyone>('url')
* SQL: pd.read_sql("SELECT...", connection)

In [7]:
cust_data = customers
ord_data = orders
prod_data = products
traff_data = traffic

In [8]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  120 non-null    int64
 1   first_name   120 non-null    object
 2   email        120 non-null    object
 3   phone        103 non-null    object
 4   city         120 non-null    object
 5   state        120 non-null    object
 6   signup_date  120 non-null    object
dtypes: int64(1), object(6)
memory usage: 6.7+ KB

In [9]:
customers.dtypes

customer_id     int64
first_name     object
email          object
phone          object
city           object
state          object
signup_date    object
dtype: object

In [13]:
customers.columns

Index(['customer_id', 'first_name', 'email', 'phone', 'city', 'state',
       'signup_date'],
      dtype='object')

In [14]:
customers.describe()

       customer_id
count   120.000000
mean     60.500000
std      34.785054
min       1.000000
25%      30.750000
50%      60.500000
75%      90.250000
max     120.000000

In [17]:
customers['city'].nunique()

24

In [20]:
customers['state'].rename('ST')

0      NY
1      NY
2      NY
3      AZ
4      TX
       ..
115    IL
116    MA
117    IL
118    IL
119    NY
Name: ST, Length: 120, dtype: object

In [21]:
customers.isna().sum()

customer_id     0
first_name      0
email           0
phone          17
city            0
state           0
signup_date     0
dtype: int64

In [22]:
customers.fillna('1-000-000-0000')['phone']

0      +1-555-242-2679
1       1-000-000-0000
2      +1-555-127-4257
3      +1-555-928-1106
4      +1-555-320-6514
            ...
115    +1-555-561-4995
116     1-000-000-0000
117    +1-555-916-5232
118    +1-555-629-4130
119    +1-555-876-4937
Name: phone, Length: 120, dtype: object

Mutating and Transforming

In [ ]:
orders_enrich = ord_data.merge